* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	background-color: white;
}

.navbar {
	background-color: #e9e9e9;
	box-shadow: 1px 2px 10px grey;
}

.navbar-default .navbar-brand {
	font-family: 'Indie Flower', cursive;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Indie Flower', cursive;
}

.center {
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 50px;
	color: black;
	line-height: 55px;
	font-weight: 900;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
	font-family: 'Amatic SC', cursive;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
	font-family: 'Amatic SC', cursive;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #A1F5A6;
	border-width: 2px;
	color: #A1F5A6;
}
.btn:hover {
	border-color: #A1F5A6;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.blue {
	background-color: #42C3C9;
}
.divider.green {
	background-color: #A1F5A6;
}
.banner.main {
	height: 100px;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 5px 2px grey;
}
.banner.menu {
	height: 100px;
	background-color: #42C3C9;
}
.banner.profile {
	height: 100px;
	background-color: #42C3C9;
}
.banner h1 {
	margin: 20px 5px;
}

.store-list {
 	background-color: #e9e9e9;
 	padding: 20px;
}

.store-list:hover {
 	background-color: #42C3C9;
 	padding: 20px;
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

.cat-item {
	background: #e9e9e9;
	padding: 5px;
	margin: 5px;
	margin-left: -20px;
	text-align: center;
}
.cat-title {
	background: #e9e9e9;
	padding: 5px;
	margin: 5px;
	font-weight: 900;
}
.cat-price {
	font-weight: 700;
	font-color: black;
}
.cat-name {
	font-color: black;
	font-weight: 900;
}
.rounded {
	border-radius: 10px;
	box-shadow: 1px 2px 10px grey;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #42C3C9;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}