{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider blue">
	<div class="col-md-12"></div>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<h3 class="center">Choose a store</h3>
			<a href="{{url_for('newStore')}}">
				<button class="btn btn-default" id="new-store">
					<span class="glyphicon glyphicon-cutlery rounded center" aria-hidden="true"></span>Add Store
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for store in stores %}
		<a href = "{{url_for('showCat', store_id = store.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 store-list">
						<h1>{{store.name}}</h1>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
	
{% endblock %}
